@model Prueba.AppWebMVC.Models.Bono

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bono</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreBono" class="control-label"></label>
                <input asp-for="NombreBono" class="form-control" />
                <span asp-validation-for="NombreBono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaValidacion" class="control-label"></label>
                <input asp-for="FechaValidacion" class="form-control" />
                <span asp-validation-for="FechaValidacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaExpiracion" class="control-label"></label>
                <input asp-for="FechaExpiracion" class="form-control" />
                <span asp-validation-for="FechaExpiracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacion" class="control-label"></label>
                <input asp-for="Operacion" class="form-control" />
                <span asp-validation-for="Operacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planilla" class="control-label"></label>
                <input asp-for="Planilla" class="form-control" />
                <span asp-validation-for="Planilla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
